body {
  background: #84dcc6;
  font-family: "Courier New";
}

.main{
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -195px;
  margin-top: -250px;
  width: 390px;
  height: 500px;
  text-align: center;
}

.main > a{
  text-decoration: none;
  color: white;
  font-size: 50px;
  display: inline-block;
}

.container {
  position: relative;
  width: 100%;
  height: 390px;
  background: white;
  border-radius: 16px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

.cell {
  position: absolute;
  margin: 5px;
  background-image: url("../images/cell_bg.jpeg");
  width: 120px;
  height: 120px;
  border-radius: 16px;
  color: #777777;
  font-size: 80px;
  line-height: 120px;
  font-weight: bolder;
  text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.35);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: all 0.1s;
}
